/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

app-root{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header {
  flex: 0 0 auto;
}

/* fullfill the rest size */
main.content {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}